{% extends 'base/base.html' %}

{% block tittle%} Eliminar Pacientes {% endblock %}

{% block navbar %}
{% endblock %}

{% block header %}
  <h1>Confirmacion para Eliminar</h1>  
{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <h3>Desea eliminar al paciente {{ paciente.nombres }} {{ paciente.apellido_paterno }} {{ paciente.apellido_materno }}?</h3>
  <button type="submit" class="btn btn-danger">
      Si, Eliminar
  </button> 
 <a class="btn btn-success" href="{% url 'paciente:paciente_listar' %}">Cancelar</a> 
</form>
{% endblock %}


{% block footer %}
  <h1></h1>  
{% endblock %}
