{% extends 'base/base.html' %}

{% block tittle%} Lista de Pacientes {% endblock %}

{% block navbar %}
{% endblock %}

{% block header %}
<div class="row">
  <div class="col-8">
    <h1>Lista de Pacientes</h1>
  </div>
  <div class="col-4">
    <a class="btn btn-success" href="{% url 'paciente:paciente_crear' %}">Agregar Nuevo Paciente</a>
  </div>
</div>
  
{% endblock %}

{% block content %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Tipo de Documento</th>
        <th>Numero de Documento</th>
        <th>Nombre Completo</th>
        <th>Genero</th>
        <th>Fecha de Nacimiento</th>
        <th>Regalo Preferido</th>
        <th>Edad</th>
        <th colspan="4" style="text-align: center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
      {% for paciente in object_list %}
      <tr>
        <td>{{ paciente.id }}</td>
        <td>{{ paciente.tipo_documento }}</td>
        <td>{{ paciente.numero_documento }}</td>
        <td>{{ paciente.nombres }} {{ paciente.apellido_paterno }} {{ paciente.apellido_materno }}</td>
        <td>{{ paciente.genero }}</td>
        <td>{{ paciente.fecha_nacimiento }}</td>
        <td>{{ paciente.regalo_preferido }}</td>
        <td>{{ paciente.edad }}</td>
        <td><a class="btn btn-primary" href="{% url 'paciente:paciente_editar' paciente.id %}">Editar</a></td>
        <td><a class="btn btn-danger" href="{% url 'paciente:paciente_eliminar' paciente.id %}">Eliminar</a></td>
      </tr>
      {% endfor %}

      {%else%}
      <h1>No hay registro de pacientes</h1>
      {%endif%}
    </tbody>

  </table>
{% endblock %}


{% block footer %}

{% endblock %}

