{% extends 'base/base.html' %}

{% block tittle%} Lista de Pacientes {% endblock %}

{% block navbar %}
{% endblock %}

{% block header %}
  <h1>Formulario de Pacientes</h1>
{% endblock %}

{% block content %}
  <form method="POST" id='my_form'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        Guardar
    </button>

  </form>
{% endblock %}
